.wrrp-tootltip {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    padding: 20px;
    top: 0;
    color: red;
}

.info-tooltip {
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}